body{

    font-family: sans-serif;
    margin: 0%;
    background-color: white;
    
}


header{
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(https://library.sportingnews.com/styles/twitter_card_120x120/s3/2022-01/jordan_kzqihsqmcbss1nfes0ua71dcu.jpg?itok=_coJS1bD);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 9%;
        height: 20px;
        
}


a{
    text-decoration: none;
    box-shadow: none;
}



.logo_header{
    height: 180px;
    display: flex;
   
}

.logo{
    height: 180px;
    display: flex;
   
}

nav{
    
    width: 100%; 

}

nav ul{

    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;

}

nav ul li{

    margin: 5%;

}


nav a{
        
        color: white;
        font-family: 'Quicksand', sans-serif;
        font-size: 120%;
        margin: 7%;    
}


.texto1{
    font-family: 'DM Sans', sans-serif;
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
    text-align: justify;
    margin-top: 5%;
    line-height: 180%
}
.caja_cabecera{
    
    font-family: 'DM Sans', sans-serif;
    font-weight: lighter;
    font-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-top: 2%;

}

.sub_caja{

    display: flex;
    flex-direction: row;
    align-items: center;

}

.acomp_titulo{
    
   
    float: right; 
    margin-left: 3%;
    padding-left: 6%;
    max-width: min-content;
    max-height: min-content;
    border-left: black 3px solid;
    display: flex;
    
    
}


h1{
    margin-left: 2%;    
    font-size: 50px;

}


.img_acomp1{
        height: 230px;
        margin-left: 5%;
        
}

.img2{
        height: 350px;
        width: 400px;  
}



.piepag a{
    color: black;
    text-decoration: none
}

.piepag{

    color: black;
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
    list-style: none;


}

footer a:hover{

    color: rgb(163, 10, 10);;
}

.linea {
    border-top: 1px solid black;
    height: 100%;
    max-width: 100%;
    padding: 0;
    margin: 20px auto 0 auto;
  }

.cambio{

        color: rgb(163, 10, 10);
  }

  nav a:hover{

    color: rgb(163, 10, 10);
}

.articulo2{

    display: flex;
    direction: row;
    justify-content: space-between;
    margin-top: 10%;
    margin-bottom: 10%;
    color: black;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
}

.imagenes_animadas1{

    width: 520px;
    height: 600px;
    margin-top: 12%;
    border-right: 1px solid black;
}

.imagenes_animadas2{

    width: 520px;
    height: 600px;
    margin-top: 12%;
    border-right: 1px solid black;

}

.imagenes_animadas3{

    width: 480px;
    height: 580px;
    margin-top: 12%;

}

.mov_img{

    display: flex;
    flex-direction: column-reverse;
    align-items: center;

}

.letras_img{

    background:linear-gradient(10deg, white, rgb(163, 10, 10));
}


.fondo_variedades{

    background-image: url(https://fondosmil.com/fondo/3057.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0%;
    display: flex;
    flex-direction: column;
}


#elementos{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 180%;  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left:4%;
    margin-top: 3%;
}

.estadio{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.banda{

    display: flex;
    flex-direction: column;
    align-items: center;
    

}
.img_banda{

    width: 310px;
    height: 310px;
    margin-top: 25%;
}

.nom_canciones{

    margin-top: 28%;
    text-align: center;
    font-size: 25px;
}

.mercado{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.img_mercado{

    width: 700px;
    height: 400px;
    margin-top:12%;
}

.slogan_equipa{

    color: black;
    margin-top: 24%;

}


.mercado a:hover{

    color: white;
}

.slogan{

    font-size: 90%;
    text-align: center;
    color:white;
}

.form_contacto{

    width: 400px;
    background-color: rgb(51, 42, 42);
    padding: 30px;
    padding-left: 9px;
    border-radius: 6px;
    margin: auto;
    margin-top: 15%;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 7px 13px 37px #000;
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
}



.form_contacto h3{

    font-size: 160%;
    margin-bottom: 12%;
    color: white;
    text-align: center;
}

.control{

    width: 100%;
    background-color:black; 
    padding: 10px;
    border-radius: 9px;
    margin-bottom: 16px;
    border: 1px solid white;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: white;
    
}

.botones{

    width: 40%;
    border: none;
    background-color: black; 
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    padding: 10px;
    margin: 3%;
    

}

#fondo_form{

    background-image: url(https://c.wallhere.com/photos/93/cd/skyscraper_reflection_Chicago-238197.jpg!d);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0%;
    display: flex;
    flex-direction: column;

}

.ubi_botones{

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.botones:hover{

    color: rgb(163, 10, 10);
}


.cuerpo_partido1{
    flex-direction: column;
    display: flex;
    font-family: 'Oswald', sans-serif;
    font-size: 7%;
    margin: 2%;
    
}

.partido1{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 60px;
}

.tablas{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2%;
    
}

.tabla2{
    margin-right: 19%;
}

table {
    width: 180%;
    border: 1px solid #000;
    font-size: 20px;
 }
 th, td {
    width: 35%;
    text-align: center;
    vertical-align: top;
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 0.3em;
 }
 caption {
    padding: 0.3em;
 }

 .cuerpo_partido2{
    flex-direction: column;
    display: flex;
    font-family: 'Oswald', sans-serif;
    border-top: ridge black;
    margin:3%;   
}

.partido2{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 7%;
    font-size: 60px;
}

.partido3{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 8%;
    font-size: 60px;
}



.cuerpo_entero{

    background-image: url(https://fondosmil.com/fondo/3057.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0%;
    display: flex;
    flex-direction: column;

}


/* RESOLUCION 1300px */

@media (max-width: 1300px){

    header{
        
        padding: 12%;
        justify-content: space-between;
       
    }

    h1{

        font-size: 230%;
    }

    .img_acomp1{
        height: 50%;
        width: 50%;
        margin-left: 5%;
    }

    .articulo2{

        justify-content: center;
    
    }

    .imagenes_animadas1{

        width: 120%;
        height: 120%;
    }
    
    .imagenes_animadas2{
    
        width: 80%;
        height: 80%;
    }

    .imagenes_animadas3{

        width: 90%;
        height: 100%;
    
    }

    .partido1{

    
        font-size: 200%;
    }

    .partido2{

    
        font-size: 200%;
    }

    .partido3{

    
        font-size: 200%;
    }
    
    .logo{
        
        height: 20%;
        width: 20%;
    }
   
    table {
        width: 150%;

     }

     .tablas{

        margin-left: 3%;        
    }

    #elementos{
    
        font-size: 130%; 
    
      
    }


    .img_cancha{
        width: 150%;
        height: 80%;
    }

    .img_mercado{

        width: 100%;
        height: 60%;
    
    }

    .banda{

        margin-left: 8%;
    }

    .img_banda{

        width: 80%;
        height: 80%;
        margin-top: 30%;
    }
    
    .nom_canciones{
    
        margin-top: 20%;
        text-align: center;
        font-size: 100%;
    }
    
 
}