body{

    font-family: sans-serif;
    margin: 0%;
    padding: 0%;
}


header{
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(https://library.sportingnews.com/styles/twitter_card_120x120/s3/2022-01/jordan_kzqihsqmcbss1nfes0ua71dcu.jpg?itok=_coJS1bD);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 9%;
        height: 20px;   
}




a{
    text-decoration: none;
    box-shadow: none;
}



.logo_header{
    height: 180px;
    display: flex;
   
}

.logo{
    height: 180px;
    display: flex;
}

nav{
    
    width: 100%; 

}

nav ul{

    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;

}

nav ul li{

    margin: 5%;

}


nav a{
        
        color: white;
        font-family: 'Quicksand', sans-serif;
        font-size: 120%;
        margin: 7%;    
}


.texto1{

    width: 80%;
    font-size: 20px;
    margin: 0 auto;
    text-align: justify;
    margin-top: 5%;
    line-height: 180%
}


.caja_cabecera{
    
    font-family: 'DM Sans', sans-serif;
    font-weight: lighter;
    font-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-top: 2%;

}

.sub_caja{

    display: flex;
    flex-direction: row;
    align-items: center;

}

.acomp_titulo{
    
   
    float: right; 
    margin-left: 3%;
    padding-left: 6%;
    max-width: min-content;
    max-height: min-content;
    border-left: black 3px solid;
    display: flex;
    
    
}


h1{
    margin-left: 2%;    
    font-size: 50px;

}


.img_acomp1{
        height: 230px;
        margin-left: 5%;
        
}

.img2{
        height: 350px;
        width: 400px;  
}



.piepag a{
    color: black;
    text-decoration: none
}

.piepag{

    color: black;
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
    list-style: none;


}

footer a:hover{

    color: rgb(163, 10, 10);;
}

.linea {
    border-top: 1px solid black;
    height: 100%;
    max-width: 100%;
    padding: 0;
    margin: 20px auto 0 auto;
  }

.cambio{

        color: rgb(163, 10, 10);
  }

  nav a:hover{

    color: rgb(163, 10, 10);
}

.articulo2{

    display: flex;
    direction: row;
    justify-content: space-between;
    margin-top: 10%;
    margin-bottom: 10%;
    color: black;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
}

.imagenes_animadas1{

    width: 520px;
    height: 600px;
    margin-top: 12%;
    border-right: 1px solid black;
}

.imagenes_animadas2{

    width: 520px;
    height: 600px;
    margin-top: 12%;
    border-right: 1px solid black;

}

.imagenes_animadas3{

    width: 480px;
    height: 580px;
    margin-top: 12%;

}

.mov_img{

    display: flex;
    flex-direction: column-reverse;
    align-items: center;

}

.letras_img{

    background:linear-gradient(10deg, white, rgb(163, 10, 10));
}


.fondo_variedades{

    background-image: url(https://fondosmil.com/fondo/3057.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}


#elementos{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 180%;  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left:4%;
    margin-top: 3%;
}

.estadio{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.banda{

    display: flex;
    flex-direction: column;
    align-items: center;
    

}
.img_banda{

    width: 310px;
    height: 310px;
    margin-top: 25%;
}

.nom_canciones{

    margin-top: 28%;
    text-align: center;
    font-size: 120%;
}

.mercado{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.img_mercado{

    width: 90%;
    height: 50%;
    margin-top:12%;
}

.slogan_equipa{

    color: black;
    margin-top: 24%;

}


.mercado a:hover{

    color: white;
}

.slogan{

    font-size: 90%;
    text-align: center;
    color:white;
}

.form_contacto{

    width: 400px;
    background-color: rgb(51, 42, 42);
    padding: 30px;
    padding-left: 9px;
    border-radius: 6px;
    margin: auto;
    margin-top: 15%;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 7px 13px 37px #000;
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
}



.form_contacto h3{

    font-size: 160%;
    margin-bottom: 12%;
    color: white;
    text-align: center;
}

.control{

    width: 100%;
    background-color:black; 
    padding: 10px;
    border-radius: 9px;
    margin-bottom: 16px;
    border: 1px solid white;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: white;
    
}

.botones{

    width: 40%;
    border: none;
    background-color: black; 
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    padding: 10px;
    margin: 3%;
    

}

#fondo_form{

    background-image: url(https://c.wallhere.com/photos/93/cd/skyscraper_reflection_Chicago-238197.jpg!d);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;

}

.ubi_botones{

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.botones:hover{

    color: rgb(163, 10, 10);
}


.partidos{

    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 300%;
    margin-top: 3%;
}

.tablas{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1%;
}

table{
    width: 40%;
    border: 2px solid #000;
    font-size: 20px;
 }
 th, td {
    width: 35%;
    text-align: center;
    vertical-align: top;
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 0.3em;
 }
 caption {
    padding: 0.3em;
 }



.fondo_partidos{

    background-image: url(https://fondosmil.com/fondo/3057.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    
}










.cuerpo_entero2{

    font-family: 'DM Sans', sans-serif;
    background-image: url(https://fondosmil.com/fondo/3057.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    
    
}

.contenedor_personajes{

    display: flex;
    flex-direction: column;
    margin-bottom: 6%;
}

.personajes{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 130%;
    margin-top: 7%;
    margin-left: 2%;
    margin-right: 2%;   
}

.parrafos{
    display: flex;
    flex-direction: column;
    text-align:justify;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-right: 8%;
    border-style:groove;
    border-color: #000;
    border-radius: 2%;
    padding: 3%;
    
}

.foto_jordan{
    width: 60%;
    height: 65%;
    border-style: ridge;
    border-color: black;
    border-radius: 3%;

}


.foto_pippen{
    width: 65%;
    height: 60%;
    border-style: ridge;
    border-color: black;
    border-radius: 3%;

}

.foto_roddman{
    width: 85%;
    height: 40%;
    border-style: ridge;
    border-color: black;
    border-radius: 3%;
}

.foto_jackson{
    width: 70%;
    height: 45%;
    border-style: ridge;
    border-color: black;
    border-radius: 3%;

}

.parrafos2{
    display: flex;
    flex-direction: column;
    text-align:justify;
    justify-content: center;
    align-items: center;
    margin-right: 8%;
    border-style:groove;
    border-color: #000;
    border-radius: 2%;
    padding: 3%;
}

.nombres_personajes{
    
    display: flex;
    flex-direction: row;
    font-weight: bold;
    font-size: 180%;
    margin-top: 2%;
    justify-content:flex-end;
    margin-top: 3%;
    
}

.trofeos_obtenidos{

    display: flex;
    flex-direction: row;
    

    
}

.imagen_trofeo{

    width: 5%;
    height: 70%;
    margin-left: 3%;
}

.ingreso_galeria{

    text-align: center;
}

.mod_link{
    font-size: 150%;
    color: #000;

}

.mod_link:hover{

    color: white;
}


.standard_imagenes{

    width: 90%;
    height: 100%;
    border-style: ridge;
    border-color: rgb(66, 64, 64);
    border-radius: 10%;

}

.standard_imagenes2{

    width: 80%;
    height: 80%;
    border-style: ridge;
    border-color: rgb(66, 64, 64);
    border-radius: 5%;

}

.standard_imagenes3{

    width: 85%;
    height: 85%;
    border-style: ridge;
    border-color: rgb(66, 64, 64);
    border-radius: 5%;

}

.orden_columna_imagenes{
    display: flex;
    flex-direction: column;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 3%;
    margin-top: 8%;
}
.orden_columna_imagenes2{
    display: flex;
    flex-direction: column;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 3%;
    margin-top: 8%;

}

.orden_diagonal_imagenes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

#fondo_imagenes{

    background-image: url(https://c.wallhere.com/photos/93/cd/skyscraper_reflection_Chicago-238197.jpg!d);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
}

.menu_hamb{
    display: none;
}

#check{
    display: none;
}



/* RESOLUCION 1300px */

@media (max-width: 1300px){

    header{
        
        padding: 12%;
        justify-content: space-between;
       
    }

    h1{

        font-size: 230%;
    }

    .img_acomp1{
        height: 50%;
        width: 50%;
        margin-left: 5%;
    }

    .articulo2{

        justify-content: center;
    
    }

    .imagenes_animadas1{

        width: 120%;
        height: 120%;
    }
    
    .imagenes_animadas2{
    
        width: 80%;
        height: 80%;
    }

    .imagenes_animadas3{

        width: 90%;
        height: 100%;
    
    }


    .partidos{
        font-size: 150%;
        font-weight: bolder;
    }
    
    .logo{
        
        height: 20%;
        width: 20%;
    }

    #elementos{
    
        font-size: 130%; 
    
      
    }


    .img_cancha{
        width: 150%;
        height: 80%;
    }

    .img_mercado{

        width: 100%;
        height: 60%;
    
    }

    .banda{

        margin-left: 8%;
    }

    .img_banda{

        width: 80%;
        height: 80%;
        margin-top: 30%;
    }
    
    .nom_canciones{
    
        margin-top: 20%;
        text-align: center;
        font-size: 100%;
    }
    
    .nombres_personajes{
    
        
        font-size: 160%;
        margin-top: 2%;
        justify-content:flex-end;
        margin-top: 3%;
        
    }

    .personajes{

        font-size: 100%;
        font-weight: bolder;
    }

}


/* RESOLUCION 480px */

@media (max-width: 480px){

   
    header{
            
            height: 100%;   
    }

    a{
        text-decoration: none;
        box-shadow: none;
    }

    .logo_header{
        
        width: 200px;
        height: 130px;
        display: flex;
        float: left; 
        display: block
    }


    nav{
        
        width: 100%; 

    }

    nav ul{
        display: none;
        float: right;
    }

    nav ul li{
        display: inline-block;
        
    }

    input:checked  ~ ul{
        display:block;
    }

    input {
        display: none;
    }

    .menu_hamb{

        box-sizing: border-box;
        display: inline-block;
        border: 1px solid black;
        border-radius: 5px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-weight: bold;
        text-align: center;
        user-select: none;

      }

      nav a{

        font-size: 90%;
        margin: 5%;    
    }  

    .control{

        display: block;
        
    }
    
    #fondo_form{
        height: 75%;
    }

    .caja_cabecera{

        font-size: 35%;
    }
    
    .texto1{

        font-size: 15px;
    }

    .letras_img{

        font-size: 11px;
    }

    .partidos{
        font-size: 80%;
        font-weight: bolder;
    }

    table{
        width: 20%;
        border: 1px solid #000;
        font-size: 11px;
        font-weight: bolder;
     }
     th, td {
        width: 15%;
     }
    
     .form_contacto{

        width: 350px;
        
    }
    #fondo_imagenes{
        height: 75%;
    }
    .orden_columna_imagenes{
        margin-left: 3%;
        margin-right: 3%;
        margin-bottom: 3%;
        margin-top: 30%;
    }
    .orden_columna_imagenes2{
    
        margin-left: 3%;
        margin-right: 3%;
        margin-bottom: 30%;
        margin-top: 20%;
    }

    .personajes{
        font-size: 70%;
        margin-top: 7%;
        margin-left: 2%;
        margin-right: 2%;   
    }
    
    .parrafos{
        width: 700%;
    }
    
    .foto_jordan{
        width: 80%;
        height: 18%; 
           
    }
    
    
    .foto_pippen{
        width: 75%;
        height: 15%;
         
    }
    
    .foto_roddman{
        width: 85%;
        height: 14%;
        
    }
    
    .foto_jackson{
        width: 80%;
        height: 15%;
        
    
    }
    
    .parrafos2{
        width: 700%;
    }
    
    .nombres_personajes{
        
        justify-content: space-around;
        font-size: 100%;
        
    }
    
    .trofeos_obtenidos{
        width: 10%;
    }
    
    .imagen_trofeo{

        width: 70%;
        height:70%;
    }

    .ingreso_galeria{
    
        text-align: center;
    }
   
    .mod_link{
        font-size: 100%;
    }

    #elementos{
        font-size: 80%;  
        margin-top: 15%;
        margin-bottom: 15%;
    }

    
    .img_banda{
    
        width: 100%;
        height: 100%;
    }
    
    .nom_canciones{
        font-size: 100%;
    }
    
    .img_mercado{
    
        width: 100%;
        height: 50%;
        
        
    }
    
    .slogan_equipa{
        width: 75%;
        margin-top: 24%;
        font-size: 100%;
    }

    .mercado a{
        text-align: center;
    }
    
    
    .mercado a:hover{
    
        color: white;
    }
    
    .img_cancha{
        width: 150%;
        height: 50%;
        margin-top: 15%;
    }
    
    h2{
        font-size: 100%;
    }

    .fondo_variedades{

       width: 100%;
       height: 80%;
    }

    .estadio{
        text-align: center;
    }
    
    .banda{
    
        text-align: center;
        
    
    }
}